/* Tablet */
@media screen and (min-width: 768px){
    :root{
        --size-h1: 4.7rem;
        --section-margin: 90px 0;
    }

    /* Header */
    .btn-menu{ transform: scale(1.2); }
    .navbar{ gap: 3em; }

    .navlink{ font-size: var(--size-h3);}


    /* Hero */
    .hero{ margin-top: 134px; }

    .hero-destaque{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #hero-name{ letter-spacing: 3px; }
    #hero-name span{ text-indent: 130px; }

    #hero-name span::before{
        width: 160px;
        height: 74%;
        top: 54%;
        transform: translateY(-55%);
        clip-path: polygon(0 0, 83% 0, 100% 100%, 0 100%);
    }

    #hero-img{
        margin: 5.7em 0;
        margin-left: auto;
        transform: translateX(-20px);
        width: 20em;
        height: 20em;
    }

    .projetos-orcamento{ align-items: start; }

    .cta-btns{ 
        margin-top: 80px;
        gap: 3em;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }

    .cta-BTN { flex-direction: row; }

    .cta-BTN svg{ 
        margin-right: 0;
        margin-left: 1em;
        transform: rotate(0);
    }

    .h-contato{
        width: 3em;
        height: 3em;
    }

    /* Projeto */
    .projeto{ height: 400px; }
    .projeto-container{ height: 180px; }

    .tipo-projeto{ padding-bottom: 20px; }

    .projeto-container button{ 
        padding: .6em 1.2em;
        transform: translateY(-1.2em);
    }

    /* Modal Projeto */
    .mockups-projeto img:nth-child(2){ 
        width: 70vw; 
        transform: translateX(70px);
    }
    
    .projeto-cta{ bottom: 11%;} 

    /* Sobre Mim */
    .sobre-mim article:not(:nth-child(1)){ margin: 70px 0 0;}

    .F-grupo{ gap: 1em; }

    .front-item{
        width: 4.2em;
        height: 4.2em;
        margin-bottom: 1em;
    }

    .SF-item,
    #ui-ux{ line-height: 25px; }

    /* Aside */
    aside button,
    #whatsap{ margin-top: 1.5em; }

    aside button{
    width: 5.3em;
    height: 5.3em;
}

    #whatsapp{
        width: 4.6em;
        height: 4.6em;
    }
    
}

/* Desktop */
@media screen and (min-width: 1024px){
    :root{
        --size-h1: 6rem;
        --section-margin: 140px 0;
    }

    /* Header */    
    #text-logo,
    .navbar{ padding-top: 10px; }

    .navbar{
        justify-content: flex-end;
        margin-right: 5%;
        position: absolute;
        flex-direction: row;
        height: 100%;
        clip-path: none;
        gap: 1.3em;
    }

    .navlink a{ 
        font-size: var(--size-h4); 
    }

    /* Hero */
    .hero{
        margin-top: 115px;
        position: relative;
    }

    .hero-destaque{
        align-items: start;
        padding-left: 5%;
    }

    #hero-name{ letter-spacing: 9px; }

    #hero-name span::before{
        width: 167px;
        height: 74%;
        top: 50%;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    }

    #hero-img{
        width: 13em;
        height: 13em;
        margin: 0 auto;
        transform: translate(-10px, -50px);
    }

    .cta{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        bottom: -11%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 8%;
    }

    .apresentacao{ 
        padding: 25px 25px 18px;
        padding-top: 0;
        margin-bottom: 0;
    }

    .apresentacao h2{ font-size: calc(var(--size-h2-mini) - .2em); }
    .apresentacao h2 span{ font-size: calc(var(--size-h2) - .2em); }
    .apresentacao p { font-size: calc(var(--size-h4) - .1em); }

    .btn-menu{ display: none; }

    .cta-btns{
        flex-direction: column;
        align-items: end;
        gap: 1.3em;
    }

    .cta-BTN{
        display: flex;
        flex-direction: row-reverse;
    }
    .cta-BTN svg{
        margin-left: 0;
        margin-right: .5em;
        transform: rotate(180deg);
    }

    .hero-contatos{ gap: .6em; }

    .h-contato{
        width: 2.5em;
        height: 2.5em;
    }

    /* Projetos */
    .projetos{ padding-top: 55px;}

    .grid-projetos{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        position: relative;
    } 
        
    .projeto.destaque{ grid-area: 1 / 1 / 2 / 3; }
    .projeto.second{ grid-area: 2 / 1 / 3 / 2; }
    .projeto.third{ grid-area: 2 / 2 / 3 / 3; }

    .projeto.destaque{
        display: block;
        background: linear-gradient(250deg, var(--blue-card), var(--gray-card) 63%);
    }

    .projeto.mobile{ display: none; }

    .projeto.destaque .tipo-projeto{ padding: 8px 0 18px !important;}

    .projeto.destaque .projeto-container{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        left: 0;
        transform: translateX(0);
        background-color: transparent;
        height: 100%;
        width: 50%;
        padding: 2em 3em;
    }

    .img-projeto picture{ 
        display: flex;
        justify-content: end;
        height: auto;
        transform: translateY(-114px); 
    }

    .projeto.destaque .img-projeto {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .projeto.destaque .img-projeto img {
        margin-top: 4.5em;
        width: 35em;
        height: auto;
        transition: width .3s ease, transform .3s ease;
        transform: scale(1);
    }

    .projeto.destaque:hover .img-projeto img { transform: scale(1.03); }
    .projeto{ height: 260px; }

    .projeto-container{ 
        transform: translateY(100%);
        left: -.3%;
        height: 135px; 
        transition: transform .5s ease;
    }

    .projeto:hover .projeto-container{ transform: translateY(0); }

    .projeto.destaque .tipo-projeto{
        font-size: var(--size-p-mini);
        padding-bottom: 2em;
    }

    .projeto.destaque .projeto-container h3{ font-size: var(--size-h2-mini); }
    .projeto.destaque .projeto-container h3 span{ font-size: var(--size-h2); }

    .projeto.destaque .projeto-container p{
        font-size: var(--size-p);
        font-weight: 400;
    }

    .projeto.destaque .projeto-container button{
        margin-left: 0;
        gap: .6em;
        padding: .7em 1.2em;
        margin-top: 1.7em;
        margin-left: 2em;
        font-size: var(--size-h4);
        transform: translateY(0);
    }
    
    .projeto.destaque .projeto-container button,
    .projeto-container button{ border-radius: 10px; }

    .projeto-container button{ transform: translateY(-2em); }

    /* Modal Projeto */
    #modal-projeto{ width: 78vw; }
    .fechar-projeto-container{ padding-bottom: 0; }

    .template-content{ 
        position: relative;
        flex-direction: row; 
        height: 100%;
        overflow: auto;
    }

    .template-content:nth-child(1){ height: 95%; }
    
    .template-container:first-of-type{ 
        overflow-y: auto; 
        padding-right: 1em;
    }


    .modal-projeto-content{ padding: 1.5em 5em; }
    .template-container{ flex: 50%; }
    
    .textos-container{ padding-left: 5%;}

    .mockups-projeto{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .template-text,
    .template-list{ font-size: var(--size-p);}

    .mockups-projeto img{ 
        position: fixed;
        margin: 0; 
    }

    .mockups-projeto img:nth-child(1){ 
        top: 12%;
        right: 30%;
        width: 13vw; 
    }
    
    .mockups-projeto img:nth-child(2){ 
        width: 22vw; 
        bottom: 18%;
        right: 3%;
        transform: translateX(0); 
        margin-left: auto;
    }

    .projeto-cta{ 
        justify-content: flex-start;
        bottom: 0;
        margin-left: 2.3em;
        margin-bottom: 1.5em;
        width: 30%;
    }
    .projeto-btn{ 
        flex: 0; 
        padding: .8em 1.5em;
    }

    .movimentacao-projetos{ 
        flex-direction: row; 
        width: 40%;
        margin-left: auto;
    }

    /* Sobre Mim */
    .sobre-mim {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 60px;
        align-items: start;
    }

    .S-content{  padding: 15px 30px; }

    .sobre-mim article:not(:nth-child(1)){ margin: 12px 0 0;}

    .S-item.first { grid-area: 1 / 1 / 2 / 2; }
    .S-item.second { grid-area: 1 / 2 / 2 / 3; }
    .S-item.third { grid-area: 1 / 3 / 2 / 4; }
    .S-item.fourth { grid-area: 2 / 1 / 3 / 2; }
    .S-item.fifth { grid-area: 2 / 2 / 3 / 4; }

    .front-item{
        width: 2.7em;
        height: 2.7em;
        margin-bottom: .7em;
    }

    #ui-ux{ margin-top: 30px; }

    .SF-item,
    #ui-ux{ line-height: 19px; }

    .SF-item:not(:last-child){ padding-bottom: 30px; }

    .redes{
        display: flex; 
        justify-content: flex-start;
        flex-direction: row; 
    }

    .links-redes{
        flex-direction: row;
        gap: 2.3em;
    }

    .grupo-redes{ flex: 0.45; }

    /* Aside */
    aside{
        bottom: 20px;
        left: auto;
        right: 20px;
    }

    aside button,
    #whatsapp{
        margin-top: .8em;
    }

    aside button{
        width: 3.9em;
        height: 3.9em;
    }

    #whatsapp{
        width: 3.3em;
        height: 3.3em;
    }

}

/* Telas muito grandes (4K, ultrawide) */
@media (min-width: 1920px) {
    /* html body{ background-color: violet;} */
    :root{
        --section-padding: 25%;
        --section-margin: 60px 0;
    }

    .cta{
        padding: 0 var(--section-padding);
    }

    aside{
        bottom: 35px;
        right: 35px;
    }

    aside button,
    #whatsapp{ 
        transform: scale(1.5); 
        margin-top: 3em;
    }

    aside button:hover,
    #whatsap:hover{
        transform: scale(1.5em);
    }
}